<html>
  <head>
    <title>Log in page</title>
  </head>
  <body>
    <h1> 🚚 🚚 😎 🌭 </h1>
    <p> Add only the best to our cultivated collection please! (Remi must approve i.e. health hazards are allowed, nay! welcome!)

    <h1>Give us the deets</h1>
    <form action ='/newtruck' method="POST">
      Truck Name: <br />
      <input type="text" name="name" /> <br />
      Truck Location: <br />
      <input type="text" name="location" /> <br />
      Does it accept venmo? (y or n) <br />
      <input type="text" name="venmo" /> <br />
      <!-- Latitude: <br />
      <input type="text" name="latitude" /> <br />
      Longitude: <br />
      <input type="text" name="longitude" /> <br /> -->
      <br />
      <button type="submit">Spread the wealth!</button>

    </form>

  <h1> 🚚 🚚 😎 🌭 </h1>
  </body>
</html>
