<html>
  <head>
    <title>Log in page</title>
  </head>
  <body>
    <h1> 🚚 🚚 😎 🌭 </h1>
    <p>Well, well, well.... It has finally happened 🎉 if we all contribute, we all reap the spicy sweet benefits. Flag when when a truck is spotted on campus, write reviews and add new trucks. Anyone can partake to view whats where and when but only trusted truckers can do flagging or adding😎😎 ...Get playin! </p>

    You must log in or register to prove you're a trusted trucker🚚.

    <h1>Log in</h1>
    <form action = '/login' method="POST">
      Username: <br />
      <input type="text" name="username" /> <br />
      Password: <br />
      <input type="password" name="password" /> <br />
      <button type="submit">Log in</button>
    </form>

    <h1>Signup!</h1>
    <form action = '/register' method="POST">
      Username: <br />
      <input type="text" name="username" /> <br />
      Password: <br />
      <input type="password" name="password" /> <br />
      <button type="submit">Signup</button>
    </form>


  <h1> 🚚 🚚 😎 🌭 </h1>
  </body>
</html>
